.contact__img {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: 83%;
}



.contact__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
  height: 50%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.contact__data-subtitle,
.contact__data-title,
.contact__social-link,
.contact__info {
  color: var(--white-color);
}

.contact__data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.contact__data-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
  /* color:black; */
  font-weight: 800;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 600px;
  left: 40%;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.contact__social {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.contact__social-link {
  font-size: 1.2rem;
  width: max-content;
}

.contact__info {
  background-color: var(--first-color);
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  column-gap: 0.5rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 228px;
}

.contact__info-title {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.contact__info-button {
  font-size: var(--smaller-font-size);
}

.contact__info-overlay {
  overflow: var(--img-hidden);
}

.contact__info-img {
  width: 145px;
  transition: var(--img-transition);
}

.contact__info-img:hover {
  transform: var(--img-scale);
}
#contact-page-template .container .about__data-title {
  font-size: 4rem !important;
  margin: 4rem;
  padding-left:15rem;
}

#contact-page-template .container .sub-header {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  margin: 0 0 0 20px;
  padding-right: 5rem;
}

#contact-page-template .container input {
  border: black 1px solid;
  border-radius: 5px;
}
#contact-page-template .container .wp-block-columns {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#contact-page-template .container .wp-block-column .info {
  font-weight: 500;
  font-size: 2rem;
  padding-right: 2rem;
}

/* contact Page */

#contact-page-template .container .wp-block-column .contact__image {
  height: 400px;
  width: 400px;
  padding: 30px;
}

#contact-page-template .container .wp-block-column .contact__text {
  font-weight: 400;
  font-size: 28px;
  padding: 20px;
}

/* Form */

#contact-page-template .container .wp-block-column #wpcf7-f799-p14-o1 {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 25px;
  margin: 20px 0;
}

.wpcf7-submit {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 30px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.28) 0 6px 10px 0, rgba(0, 0, 0, 0.24) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.wpcf7-submit:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.wpcf7-submit:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.wpcf7-submit:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.wpcf7-submit:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

/* Tablet */
@media screen and (max-width: 800px) {
  #contact-page-template .container .wp-block-column .contact__image {
    height: 400px;
    width: 400px;
    padding: 10px;
  }

  #contact-page-template .container .wp-block-column .contact__text {
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
  }

  .contact__data-title {
    bottom: 700px;
    font-size: 64px;
    left: 30%;
  }

  #contact-page-template .container .sub-header {
    margin: auto;
  }

  .wpcf7-submit {
    font-size: 30px;
    height: 50px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) and (min-device-width: 481px) {
  
  
  #contact-page-template .container .wp-block-column .contact__image {
    height: 200px;
    width: 200px;
    padding: 10px;
  }

  #contact-page-template .container .wp-block-column .contact__text {
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
  }

  .contact__data-title {
    bottom: 400px;
    font-size: 32px;
    left: 30%;
  }

  #contact-page-template .container .sub-header {
    margin: auto;
    font-size: 1.5rem;
  }
}

@media screen and (max-device-width: 500px) {
  /* NEW */
  .contact__message h2 {
    font-weight: 400;
    margin-right: 2rem
  }
  .contact__message p {
    font-size: 20px;
  }
  .contact-info {
    font-weight: 400;
    font-size: 20px;
  }
  /* END NEW */
  #contact-page-template .container .wp-block-column .contact__image {
    height: 100px;
    width: 100px;
    padding: 10px;
  }

  #contact-page-template .container .wp-block-column .contact__text {
    font-weight: 300;
    font-size: 12px;
    padding: 10px;
  }

  .contact__data-title {
    bottom: 60%;
    font-size: 2.5rem;
    left: 25%;
  }

  #contact-page-template .container .sub-header {
    margin: auto;
    font-size: 1.5rem;
  }

  #contact-page-template .container .wp-block-column .info {
    font-weight: 800;
    font-size: 1.3rem;
    padding: 1rem;
  }

  #contact-page-template .container .wp-block-column #wpcf7-f799-p14-o1 {
    font-weight: 200;
    font-size: 1rem;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 25px;
    /* margin: 5px 0; */
    width: 18rem;
    align-items: left;
    align-self: left;
    align-content: left;
    justify-content: start;
  }

  #contact-page-template .container .wp-block-column #wpcf7-f799-p14-o1 {
    margin-right: 30px;
    padding: none;
  }

  #contact-page-template .container .wp-block-column #wpcf7-f799-p14-o1 input,
  textarea {
    width: 15rem;
  }

  #contact-page-template .container .wp-block-columns {
    flex-direction: column;
  }
}
/* For small screens */
@media screen and (max-width: 340px) {
  
  .place__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .experience__content {
    padding: 0;
  }
  .experience__overlay:nth-child(1) {
    width: 190px;
  }
  .experience__overlay:nth-child(2) {
    width: 80px;
  }
  .home__info {
    width: 190px;
    padding: 1rem;
  }
  .experience__img,
  .video__container {
    padding: 0;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .video__container {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
  .place__container {
    grid-template-columns: repeat(3, max-content);
  }
  .subscribe__form {
    width: 470px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .nav__mobile {
    display: block !important;
   }
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__link {
    color: var(--white-color);
    text-transform: initial;
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .nav__dark {
    position: initial;
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .change-theme-name {
    display: none;
  }
  .change-theme {
    color: var(--white-color);
  }
  .active-link::before {
    background-color: var(--white-color);
  }
  .scroll-header .nav__link {
    color: var(--text-color);
  }
  .scroll-header .active-link {
    color: var(--title-color);
  }
  .scroll-header .active-link::before {
    background-color: var(--title-color);
  }
  .scroll-header .change-theme {
    color: var(--text-color);
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .home__container {
    height: 100vh;
    grid-template-rows: 1.8fr 0.5fr;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__social {
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 3rem;
    column-gap: 2.5rem;
  }
  .home__info {
    bottom: 3rem;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__data,
  .about__title {
    text-align: initial;
  }
  .about__title {
    margin-bottom: var(--mb-1-5);
  }
  .about__description {
    margin-bottom: var(--mb-2);
  }
  .discover__container {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .discover__container,
  .place__container {
    padding-top: 2rem;
  }
  .experience__overlay:nth-child(1) {
    width: 363px;
    margin-right: 4rem;
  }
  .experience__overlay:nth-child(2) {
    width: 160px;
  }
  .subscribe__bg {
    background: none;
    padding: 0;
  }
  .subscribe__container {
    background-color: var(--first-color-second);
    padding: 3.5rem 0;
  }
  .subscribe__input {
    padding: 0 0.5rem;
  }
  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
}
