.nav__logo:hover{
  color:white;
}
.cover__img {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: 83%;
}

.cover__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
  height: 50%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}
